<h1 style="text-align: center; color:red; font-size:46px;">Show Matches (Show users)</h1>
<div style="text-align: center; color:blue; font-size:30px;">
  <h4>This page will only show up for <span> loged in users </span> and upon confirmation that the user</h4>
  <h4>wants to date someone or hangout with others.</h4>
</div>