<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="">Ruby Project</a>      
      by <a href="https://www.linkedin.com/in/senada-kadric/">Senada Kadric</a> & <a href="www.linkedin.com/in/marlon-braga">Marlon Braga</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>