<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://flatironschool.com/career-courses/coding-bootcamp">Flatiron School - Software Engineering Program - Mod 2 Ruby Project</a>      
      by <a href="https://www.linkedin.com/in/senada-kadric/">Senada Kadric</a> & <a href="https://www.linkedin.com/in/marlon-braga/">Marlon Braga</a>
    </small>
  </footer>
</div>