<div class="jumbotron">
  <h1 class="display-4">Wanna hangout?</h1>
  <p class="lead">Pls hangout with me i'm so lonely. -Bashir</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-outline-success my-2" href="#" role="button">Register</a>
</div>