<div class="jumbotron text-center">
  <h1 class="display-3 text-light font-weight-bold my-5">Wanna Hangout?</h1>
  <hr class="my-5 bg-light">
  <p class="text-light">Join our community and meet thousands of people.</p>
  <%= link_to "Register", new_form_path, class: "btn btn-success btn-lg" %>
</div>